{% extends 'base.html' %}
{% block title %}
    Courses
{% endblock %}

{% block content %}

<div class="container">
  <h1 class="text-center mt-5">Courses Offered</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="#" class="card-img-top" alt="Course 1">
        <div class="card-body">
          <h5 class="card-title">Intro</h5>
          <p class="card-text">##</p>
          <a href="home.html" class="btn btn-primary">Start now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="#" class="card-img-top" alt="Course 2">
        <div class="card-body">
          <h5 class="card-title">DEVS</h5>
          <p class="card-text">Get started and build your first game.</p>
          <a href="#" class="btn btn-primary">Join the community of devs</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="#" class="card-img-top" alt="Course 3">
        <div class="card-body">
          <h5 class="card-title">MMORPG</h5>
          <p class="card-text">Explore a world of action.</p>
          <a href="#" class="btn btn-primary">plunge now into the chaos that reigns supreme</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="#" class="card-img-top" alt="Course 4">
        <div class="card-body">
          <h5 class="card-title">Open world</h5>
          <p class="card-text">Understand the fundamentals of the world you dive into and explore.</p>
          <a href="#" class="btn btn-primary">Dive in</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="#" class="card-img-top" alt="Course 5">
        <div class="card-body">
          <h5 class="card-title">Can't decide?</h5>
          <p class="card-text">Learn all you can do 'em all.</p>
          <a href="dashboard.html" class="btn btn-primary">Start here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="#" class="card-img-top" alt="Course 6">
        <div class="card-body">
          <h5 class="card-title">Mobile game Development</h5>
          <p class="card-text">Build games for iOS and Android platforms with this course.</p>
          <a href="#" class="btn btn-primary">Join</a>
        </div>
      </div>
    </div>
  </div>
</div>

   <!-- End of .container -->
{% endblock %}


